body {
    background-color: blanchedalmond;
}

.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(233, 113, 53);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    text-align: center;
}

.subtitulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(251, 249, 249);
    background-color: rgb(33, 153, 153);
    border: solid 4px black;
    height: 25px;
    width: 190px;
    padding: 0 0 0 10px;
    margin: 0 auto;
}

.itens {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;

}

table {
    table-layout: fixed;
    text-align: center;
    margin: 0 auto;
}

th {
    background-color: rgb(33, 153, 153);
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

td {
    background-color: rgb(233, 113, 53);
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}